<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommerceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63496/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICommerceService" contract="CommerceReference.ICommerceService"
                name="BasicHttpBinding_ICommerceService" />
        </client>
    </system.serviceModel>
</configuration>